<div class="main_container">
    <h1 mat-dialog-title>Hi Halo  </h1>
    <div mat-dialog-content>
        <p>Erstelle Dein Channel</p>
        <mat-form-field appearance="fill">
            <mat-label>Channel Name</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button   (click)="saveChannel()"  [disabled]="name.length == 0" [mat-dialog-close]="name" cdkFocusInitial>Ok</button>
    </div>


</div>
