/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(147, 147, 144);
}


.form-container{
    display: block;
    max-width: 300px;
background-color: rgb(147, 147, 144);
   margin: auto; 
   padding: 48px;
   border-radius: 16px;
}


.full-Width{
width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.margin-top{
    margin-top: 16px;
}

.text-center{
    text-align: center;
}

.content{
    display: flex;
    width: 100%;
}